.banner{
    height:30vh;
    position:relative;
    margin-top:30px;
}

.banner .banner__content{
    background-image: url('../assets/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    opacity:0.8;
}


@media screen and (min-width:768px){
    .banner{
        height:60vh;
        background-image: none;
    }

    .banner .banner__content{
        background-image: url('../assets/banner.jpg');
    }
}