/* Formato botones */
.button-hidden, .button , .form__final__button, .button__projects{
    text-decoration: none;
    padding:8px;
    background-color: var(--main-brand-color); 
    color:var(--main-text-color);
    border-radius:4px;
    transition: border 2s ease; 
    margin-right: 10px;
}

.button:hover, .button-hidden:hover, .button__projects:hover {
    border: 2px solid var(--main-brand-color-secondary);
}

.button-secondary {
    background-color: var(--main-brand-color-secondary);
}

.trailer {
    position:relative;
    height: 50vh;
    margin-top: 20px;
}

.trailer video {
    position:absolute;
    height:90%;
    width:90%;
    top: 0%;
    left: 5%;
    right: 0%;
    bottom:0%;
}

@media screen and (min-width: 768px) {
    .button-hidden {
        display:block; 
    }
    .button {
        display:none;
    }
}

@media screen and (max-width: 768px) {
    .button-hidden {
        display:none; 
    }

    .button {
        display:block;
    }
}

@keyframes video_animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}