.footer__links {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
} 

.footer__links__image {
    width:40px;
    padding-top:15px;
    padding-bottom:15px;
}

.footer__links__image img {
    width:100%;
}